* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text {
    @apply text-black dark:text-white;
  }
  .text-muted {
    @apply dark:text-muted-dark text-muted-light;
  }
  .bg-main {
    @apply bg-white dark:bg-bgmain-dark;
  }
  .bg-secondary {
    @apply bg-slate-200 dark:bg-[#1D2840];
  }
  .border-main {
    @apply border-muted-light/10 dark:border-muted-dark/10;
  }
}
