* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
