* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text {
    @apply text-black dark:text-white;
  }
  .text-muted {
    @apply dark:text-muted-dark text-muted-light;
  }
}
